<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, WebVR! • A-Frame</title>
    <meta name="description" content="Hello, WebVR! • A-Frame">
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
  
</head>
  
  <body>
    <a-scene background="color: #ECECEC">


     <a-obj-model src="models/enigma.obj" position="1 1 1"    ></a-obj-model>
     <a-obj-model src="models/klorofylli.obj"   ></a-obj-model>
     <a-obj-model src="models/termostat.obj" mtl="models/termostat.mtl" ></a-obj-model>
     <a-obj-model src="models/tomograf.obj" mtl="models/tomograf.mtl"    ></a-obj-model>
     <a-obj-model src="models/ethane.obj" mtl="models/ethane.mtl"    ></a-obj-model>
     <a-obj-model src="models/sextant.obj" mtl="models/sextant.mtl"    ></a-obj-model>


    </a-scene>
  </body>
</html>