<html>

<head>
	<title>Parcel Sandbox</title>
	<meta charset="UTF-8" />
	<script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>
	<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.5/aframe/build/aframe-ar.js">
	
	</script>
</head>

<body style='margin : 0px; overflow: hidden;'>
	<a-scene embedded arjs='sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3;'>
            <a-assets>
                    <a-asset-item id="test-obj" src="models/couch.obj">
                    <a-asset-item id="test-mtl" src="models/couch.mtl">
            </a-assets>

		<a-marker preset="hiro">
			<a-box position='0 0.5 0' material='color: black;'></a-box>
        </a-marker>
        
        <a-marker type="pattern" url="markers/hiro.patt">
            <a-obj-model src="models/couch.obj" mtl="models/couch.mtl" scale="1 1 1"  ></a-obj-model>
        </a-marker>


		<a-marker type='barcode' value='1'>
			<!-- <a-box position='0 0.5 0' material='opacity: 0.5; side: double;color:red;'> -->
				<a-entity scale="1 1 1" collada-model="url(https://raw.githubusercontent.com/Intev/assets/master/andromeda-v2.dae)">
					<a-animation attribute="rotation" to="360 360 0" dur="5000" easing='linear' repeat="indefinite"></a-animation>
				</a-entity>
			<!-- </a-box> -->
		</a-marker>
		


		<a-entity camera></a-entity>
	</a-scene>
</body>

</html>